
@{
    ViewBag.Title = "QueryData";
    var val = ViewBag.dataLinQ;
    string firstname = (val.Count > 0) ? string.Format("{0}{1}"
                            ,(val[0].Emp_efname != null) ? val[0].Emp_efname : ""
                            ,(val[0].Emp_elname != null) ? "  " + val[0].Emp_elname : "") : "no data!"; 
}

@*<h2>QueryData</h2>*@
<val link="@Url.Action("Index", "Home", null, "http")" host="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)" hidden>@firstname</val>

<div class="container root">



</div>







