
@{
    //ViewBag.Title = "SharingView";
} 
<h3 style="margin-left:10px;">Existing</h3>
<p></p>
<div class="col-lg-12" style="min-height:500px;">
    <div class="field-container">
        <input class="field-input" id="inputid" name="inputName" type="text" placeholder=" ">
        <label class="field-placeholder" for="inputName">First name</label>
    </div>
</div>
<ul class="list-inline pull-right"> 
    <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
</ul>

