html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 95px;
    /*padding-bottom: 20px;*/
    background: linear-gradient(90deg, #0053b826, #0053b826,#67bf93);
    background: -ms-linear-gradient(left, #efefef, #67bf93);
    /*-webkit-background-image: -ms-linear-gradient(90deg, #0053b826, #0053b826,#67bf93);*/
    /*min-height:100%;*/
    height: 100%;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 15px 0 15px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    /*margin-top: 35px;*/
    padding-left: 15px;
    padding-right: 15px;
    min-height:100%;
    position:relative;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-header, .navbar-head {
    margin-top: 15px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 80px;
    -webkit-transition: background 0s, height 0.5s, box-shadow 0.5s; /* Safari */
    transition: background 0s, height 0.5s, box-shadow 0.5s;
    /* border-color: #080808; */
}

.navbar-header a, .navbar-nav a, .nav-logout {
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.nav-login li {
    margin: 15px;
}

.nav-logout {
    color: black;
    font-size: 18px;
    padding: 15px 15px;
    line-height: 20px;
}
.head-login{
    padding: 10px 80px 10px 10px;
    border: 2px solid #428bca;
    border-radius: 10px 4px 4px 10px;
    position: relative;
    transition: border-color 0.2s, height 0.5s, box-shadow 0.5s;
}
.btn-logout {
    position: absolute;
    right: -1px;
    top: 0;
    border: none;
     border-radius: 0px 2px 3px 0px;
    height: 104%;
    width: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*box-sizing: unset;*/
    background:#428bca;
    transition: background 0.2s, height 0.5s, box-shadow 0.5s;
}

.btn-logout:hover, .btn-logout:focus {
    border: none !important;
    outline: none;
    box-shadow: 0px 0px 0px rgba(0, 1, 29, 0.63);
}
.navbar:hover .btn-logout, .navbar-scroll .btn-logout{
    background:#6dc198;
}
.navbar:hover .head-login, .navbar-scroll .head-login{
    border-color:#6dc198;
}
.navbar:hover{
    /*background: linear-gradient(to right, rgba(0, 0, 255, 0.6), rgba(14, 15, 227, 0.60));*/
    background: #428bca; /*-90deg,*/
    box-shadow: 0px 5px 10px rgba(0, 1, 29, 0.63);
}

.navbar-scroll {
    /*background: linear-gradient(to right, rgba(0, 0, 255, 0.6), rgba(14, 15, 227, 0.60));*/
    color: white;
    background: #428bca; /*-90deg,*/
    box-shadow: 0px 5px 10px rgba(0, 1, 29, 0.63);
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: black;
}

.navbar:hover a, .navbar:hover li > a, .navbar:hover .head-login, .navbar-scroll .navbar-nav > li > a,.navbar-scroll .navbar-brand  {
    color: white;
}
.row{
    margin:0;
    margin-bottom: 80px;
}
body::-webkit-scrollbar { 
  display: none;
}
        ::-webkit-scrollbar { 
            position:fixed;
            width: 6px; 
        }  
        /* Track */ 
        ::-webkit-scrollbar-track { 
            background: gainsboro; 
            border-radius: 5px; 
        }  
        /* Handle */ 
        ::-webkit-scrollbar-thumb { 
            background: black; 
            border-radius: 5px; 
        }  
        /* Handle on hover */ 
        ::-webkit-scrollbar-thumb:hover { 
            background: #555; 
        }


.root {
    /*overflow-x: auto;*/
}
